In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('full_data.csv')

In [39]:
df.head()

,date,movie,budget,domestic_gross,worldwide_gross
0,40683,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
1,43578,Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
2,42116,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
3,43082,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,332,539,889"
4,42354,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"

In [40]:
df_2018 = pd.read_csv('data_2018.csv')
df_2017 = pd.read_csv('data_2017.csv')
df_2016 = pd.read_csv('data_2016.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 5 columns):
date               594 non-null int64
movie              594 non-null object
budget             594 non-null object
domestic_gross     594 non-null object
worldwide_gross    594 non-null object
dtypes: int64(1), object(4)
memory usage: 23.3+ KB

In [42]:
df['budget'].astype(str)
df['domestic_gross'].astype(str)
df['worldwide_gross'].astype(str)

0       $1,045,663,875
1       $2,797,800,564
2       $1,403,013,963
3       $1,332,539,889
4       $2,068,223,624
            ...
589       $295,874,190
590        $58,085,235
591       $149,217,355
592       $213,116,401
593       $359,495,591
Name: worldwide_gross, Length: 594, dtype: object

In [43]:
df['budget'] = df['budget'].str.replace(',', '')
df['budget'] = df['budget'].str.replace('$', '')
df['budget'] = df['budget'].astype(float)

In [48]:
df['domestic_gross'] = df['domestic_gross'].str.replace(',', '')
df['domestic_gross'] = df['domestic_gross'].str.replace('$', '')
df['domestic_gross'] = df['domestic_gross'].astype(float)

In [49]:
df['worldwide_gross'] = df['worldwide_gross'].str.replace(',', '')
df['worldwide_gross'] = df['worldwide_gross'].str.replace('$', '')
df['worldwide_gross'] = df['worldwide_gross'].astype(float)

In [54]:
df['worldwide_gross - budget'] = df.worldwide_gross - df.budget 
df['domestic_gross - budget'] = df.domestic_gross - df.budget